<script src="/plugins/transcripts/controller.js"></script>
<link rel="stylesheet" href="/plugins/transcripts/styles.css" />

<div ng-controller="view_transcript" class="wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/admin/humans">Humans</a></li>
            <li><a href="/admin/humans/{% ui.user_id %}">{% ui.user_id %}</a></li>
            <li>Transcript</li>
        </ul>
    </div>

  <h1>Transcript for User</h1>

  <div class="transcript pane">

    <div ng-repeat="line in ui.transcript" class="line">
        <div ng-if="line.fromBot" class="message fromBot">
          <div class="text">
            {% line.message.text %}
          </div>
        </div>
        <div ng-if="!line.fromBot" class="message fromUser">
          <div class="text">
            {% line.message.text %}
          </div>
        </div>
    </div>

  </div>



</div>
